<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:800" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS file -->
    <link rel="stylesheet" href="../assets/css/burger_style.css" type="text/css">
    <!--jQuery File-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--app.js-->
    <script src="/assets/js/app.js"></script>
    <title>Eat-Da-Burger</title>
</head>
<body>
    {{{body}}}
</body>
</html>